.filters > div {
    height: 100%;
    width: 25%;
    margin: 0 10px;
    align-items: center;
    justify-content: flex-start;
}

.filters > .locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    margin-bottom: -15px;
    font-size: ;
}

h2 {
    margin-bottom: -5px;
    margin-top: 25px;
    position: relative;
    right: 30px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}