.popover {
  
    background: #FAFAFA;
    width: 98%;
    height: 190px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    left: -36px;
    top: -1px;
    display: none;
}

li {
    list-style: none;
    position: relative;
    left: 10px;
}

.amenities .popover {
    position: relative;
    left: -38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    gap: 5px;
    display: none;
}

.amenities:hover .popover {
    display: flex;
}

.locations:hover .popover {
    display: block;
}